h2 {
    text-align: center;
    width: 100%;
}


/*------------------------------SECCION SLIDE -----------------*/

.slide figure img {
    width: 100%;
    height: 90vh;
    /* Para que ocupe 90% de la ventana o pantalla donde se ve*/
}

#boton_slide_derecho {
    position: absolute;
    top: 50%;
    right: 30px;
}

#boton_slide_izquierdo {
    position: absolute;
    top: 50%;
    left: 30px;
}


/*------------------------SeccionPasos------------------*/

.seccion_pasos {
    width: 80%;
    margin-top: 50px;

    /* Propiedades FLEX */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.seccion_pasos article {
    border: 2px solid black;
    width: 30%;
    padding: 20px;
    height: 150px;
    min-width: 300px;
    margin-bottom: 10px;
}


/*-----------------------SeccionEventos-------------*/

.seccion_eventos {
    width: 80%;
    margin-top: 50px;

    /* Propiedades FLEX */
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;

}

.iconocomprar {
    width: 10px;
    height: 15px;
}

.eventos_destacados {
    min-width: 300px;
    width: 30%;
    border: 2px solid #666666;
    padding: 10px;
    margin:5px;
    border-radius: 10px;
    text-align: center;
}

.eventos_destacados img {
    width: 100%;
    height: 230px;
    box-shadow: 3px 3px 10px #666666;
    opacity: 0.8;
}

.eventos_destacados img:hover {
    opacity: 1.0;
}
.date
{
    width: 30%;
    display: inline-block; /*para que se pongan al lado con .detalle_evento*/
    font-size: 1.3em;
}
.detalle_evento
{
    width: 60%;
    display: inline-block;  /*para que se ponga al lado con .date*/
}

/*------------------------Seccion medios de pagos--------------*/

.seccion_medios_pago {
    width: 80%;
    margin-top: 50px;


    /* Propiedades FLEX */
    display: flex;
    justify-content: space-around;
    /* En flexbox en vez de usar texta-aling usamos la propiedad de flex justify-contend: center 
    para alinearlo HORIZONTALMENTE central, aca igual use space-around para que se ajusten ocupando todo 
    el ancho*/
    align-items: center;
    /* y align-items para alinearlo VERTICALMENTE centrado */
}

.medios_pago {
    width: 20%;
}

.medios_pago img {
    width: 90%;
    height: 100px;
}

.iconos {
    width: 60px;
    height: 60px;
    cursor: pointer;
    opacity: 0.8;
    background: #464646;
    border-radius: 5px;
    border: 3px solid #eac04a;
}

.iconos:hover {
    opacity: 1;
}