#titulo{
  font-size: 60px;
}
.evento_personalizado{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.contenedor_izq{

  width : 50%;
  margin:2%;
  text-align: center;

}
.imagen{
    background-color : grey;
    min-width:400px;
    height : 400px;
    margin:auto;
    position : relative;
  }
.edicion{
    padding: 10px;
    width: 50%;
    margin:auto;
}

div.bloque_titulo{
    position : absolute;
    top :50%;
    transform: translate(0, -60%);
    width: 100%;
    text-align: center;
}
.margin_auto{
  margin:auto;
  color: red;
}
div.bloque_fecha{
    position: absolute;
    bottom: 0px;
    padding: 2%;
    width: 100%;
    text-align: end;
}
.opciones{
  display: inline-block;
  margin: 3px;
  width: 35px;
  text-align: center;

}

.opciones > img {
  width: 35px;
}
.colores
{
    width: 30px;
    height: 30px;
}
.border_radius{

  border-radius: 50%;
}
.rojo{
    background: red;
}
.azul
{
background: blue;
}
.black
{
    background: black;
}
.amarillo
{
    background: yellow;
}
.naranja
{
    background: orange;
}
.px20{
  display: inline-block;
  font-size: 10px;
}

.px28{
  font-size: 12px;
}

.px32{
  font-size: 14px;
}

.px48{
  font-size: 16px;
}

.px60{
  font-size: 18px;
}
.subtitulos{
  font-size: 14px;
  color: grey;
}

@media(max-width: 815px){
  .evento_personalizado{
      flex-wrap: wrap;
  }
  .edicion{
    text-align: center;
  }
  .contenedor_izq{
      width: 80%;
      margin:auto;
  }
  .align_center{
    width: 100%;
  }
  .edicion{
    width: 100%;
  }

}
